@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  height: 1600px;
}

.navbar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

/* Logo Styling */
.navbar-logo img {
  width: 80px;
}

/* Navigation Links */
.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto; /* Ensures that the navbar-nav is pushed to the right */
}

.navbar-nav a {
  padding: 10px;
  color: var(--primary);
  text-decoration: none;
  margin-right: 1rem; /* Adjust this value to control the spacing between links and icons */
}

/* Dropdown Menu */
.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle::after {
  content: ' ▼';
  font-size: 0.6em;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Hover Effects */
.navbar-nav a:hover,
.navbar-extra a:hover {
  color: #856565;
}

/* Active Navbar Item */
.active-navbar {
  background-color: #ffbb70;
  color: #292929;
  font-weight: bold;
}

.navbar .dropdown-menu .active-navbar {
  background-color: #ffbb70;
  color: #292929 !important;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  color: #010103;
  background: #ffd7af;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 4rem;
}


.header .icons div {
  color: #010103;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #856565;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #856565;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #856565;
}

.header .search-form label:hover {
  color: #d3ad7f;
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #856565;
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: #856565;
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .conten h3 {
  font-size: 2rem;
  color: #010103;
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .conten .price {
  font-size: 2rem;
  color: #856565;
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home .homeawal img {
  display: flex;
  padding-top: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.home {
  padding: 20px;
  text-align: center;
}

.home .intro p {
  margin: 10px 0;
  font-size: 1.5rem;
}

.shop-now {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.home .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.home .gallery img {
  width: 20%;
  margin: 10px;
  border-radius: 10px;
}

 /* Footer */
 .footer {
  background-color: #a06500;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-text {
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}

/*media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }

  .home .homeawal img {
    width: 90%;
    height: auto;
  }
  .home .items {
    width: 60%;
    grid-template-columns: repeat(2, 3fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 758px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #856565;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home .homeawal img {
    display: relative;
    width: 90%;
    height: auto;
  }
  .home .items {
    width: 60%;
    grid-template-columns: repeat(2, 3fr);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 580px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #856565;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home .homeawal img {
    width: 90%;
    height: auto;
  }
  .home .items {
    width: 60%;
    grid-template-columns: repeat(2, 3fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .homeawal img {
    width: 90%;
    height: auto;
  }

  .home .items {
    padding: 10px;
    height: auto;
    font-size: 50%;
    grid-template-columns: 1fr;
  }
}

